<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WeLearnLMS.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WeLearnLMS.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <WeLearnLMS.My.MySettings>
            <setting name="AttendanceReadOnly" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AllMainBackground" serializeAs="String">
                <value>ControlText</value>
            </setting>
            <setting name="QuestMainBackground" serializeAs="String">
                <value />
            </setting>
            <setting name="MainFont" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt</value>
            </setting>
            <setting name="MenuBGC" serializeAs="String">
                <value>Control</value>
            </setting>
            <setting name="ClassroomHubBGC" serializeAs="String">
                <value>Control</value>
            </setting>
            <setting name="QuestionnaireViewerFont" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt</value>
            </setting>
        </WeLearnLMS.My.MySettings>
    </userSettings>
    <applicationSettings>
        <WeLearnLMS.My.MySettings>
            <setting name="city85" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
        </WeLearnLMS.My.MySettings>
    </applicationSettings>
</configuration>